.post-social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
  justify-content: center;
}

.post-social svg {
  margin-right: 10px;
}

.post-social .button {
  margin: 0.5rem 0.25rem;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.post-social .button.facebook {
  background-color: #3b5998;
}

.post-social .button.twitter {
  background-color: #1da1f2;
}

.post-social .button.linkedin {
  background-color: #0077b5;
}

.post-social .button.reddit {
  background-color: #ff4500;
}
