footer a {
  color: white;
  text-decoration: underline;
}

footer span {
  margin-left: 20px;
}

footer {
  background-color: #cf92b7;
  width: 100%;
  color: white;
  margin-top: 40px;
  text-align: center;
  height: 110px;
}

footer div {
  padding-top: 10px;
}

footer svg {
  fill: white;
  margin-left: 20px;
}


